h1 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: navy;
  padding: 10px;
  margin: 10px;
}
h2 {
  font-size: 40px;
  text-align: center;
  color: midnightblue;
  background-color: green;
  border-top: 0;
  margin: auto;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2e/Plane_wing_at_sunset.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
p {
  font-size: 40px;
  height: px;
  text-align: center;
  margin: 30px;
  color: navy;
}
button {
  text-align: center;
  height: 30px;
  width: 80px;
  background-color: yellow;
  align-items: center;
}
