h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  background-color: navy;
  padding: 10px;
  margin: 10px;
}
h2 {
  font-size: 40px;
  text-align: center;
  color: midnightblue;
  background-color: green;
  border-top: 0;
  margin: auto;
}

body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/N13e7awhgiljgescq/videoblocks-passenger-airplane-flying-in-blue-sky-with-white-clouds_ram7lgcp3l_thumbnail-full14.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container {
  display: grid;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.cells {
  border: 2px solid gray;
  flex-flow: row;
}

img {
  width: 200px;
  height: 200px;
  align-items: center;
}
p {
  font-size: 30px;
  height: 25px;
  text-align: center;
  margin-top: 150;
  color: navy;
  text-align: center;
}
